---

---

<header>
  <nav>
    <a href="/">Main</a>
    <a href="/crafts">Crafts</a>
    <a href="/about">About</a>
  </nav>
</header>

<script>
  console.log("HI?");
  // import "@/scripts/nav-menu.ts";
</script>
