---
const NAV_LINKS = [
  { label: "about", link: "/about" },
  { label: "crafts", link: "/crafts" },
];
---

<header class="sticky top-4">
  <nav class="flex justify-center items-center">
    <ul
      class="nav-ul flex justify-center items-center bg-white px-6 border rounded-full border-transparent transition"
    >
      <li><a href="/" class="inline-block mx-2 px-4 py-2">/</a></li>
      {
        NAV_LINKS.map((navLink) => {
          return (
            <li class="group relative">
              <a href={navLink.link} class="inline-block mx-2 px-4 py-2">
                {navLink.label}
              </a>
              <span class="nav-item absolute -bottom-[1px] left-1/2 -translate-x-1/2 w-0 h-0 group-hover:w-1/2 group-hover:h-[1px] bg-slate-700 transition-all" />
            </li>
          );
        })
      }
      <!-- TODO: toggle i18n -->
      <li><button class="mx-2 px-4 py-2">kr</button></li>
    </ul>
  </nav>
</header>

<script>
  import "../../scripts/navigation-scroll";
</script>
