---
import MainLayout from "@/components/layouts/MainLayout.astro";
---

<MainLayout title="DK">
  <hgroup>
    <h2 class="text-xl">Hey there 👋,</h2>
    <h1 class="text-2xl">I'm David Kim</h1>
  </hgroup>
  <p>
    I'm a fullstack developer with love and passion for crafting beautiful UIs
    on the web.
  </p>
  <p>
    I enjoy solving real world problems that brings value to the world ... blah
    blah blah
  </p>
</MainLayout>
