---
import MainLayout from '@/components/layouts/MainLayout.astro'
---

<MainLayout title="DK">
   <hgroup class="space-y-2 mt-8">
      <h2 class="text-lg">Hey there 👋,</h2>
      <h1 class="text-2xl">I'm David Kim</h1>
   </hgroup>

   <p class="mt-8">
      I'm a software engineer with love for crafting beautiful UIs on the web.
   </p>
   <p></p>
   <p>
      I enjoy solving real world problems that brings value to the world ...
      blah blah blah
   </p>
</MainLayout>
