---
import MainLayout from '@/components/layouts/MainLayout.astro'

const myself = {
   firstName: 'David',
   lastName: 'Kim',
   country: 'USA',
   occupation: 'Web developer'
}
---

<MainLayout title="Crafts">
   <h1>About</h1>
</MainLayout>
